@model BidR.Models.View.EditModel

@{
    ViewData["Title"] = "Settings";
}

@section Scripts {
    @{ await Html.RenderPartialAsync ( "_ValidationScriptsPartial" ); }
}

<div class="row">
    <div class="offset-4 col-md-4">
        <h1>Settings</h1>

        <hr />
        <div class="col">
            <form asp-controller="User" asp-action="Settings">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="firstName" class="control-label"></label>
                    <input asp-for="firstName" class="form-control" />
                    <span asp-validation-for="firstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="lastName" class="control-label"></label>
                    <input asp-for="lastName" class="form-control" />
                    <span asp-validation-for="lastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="gender" class="control-label"></label>
                    <br/>
                    @Html.RadioButtonFor(model =>model.gender,"Male",true) Male
                    @Html.RadioButtonFor(model =>model.gender,"Female",false) Female  
                    <br/>
                    <span asp-validation-for="gender" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="email" class="control-label"></label>
                    <input asp-for="email" class="form-control" />
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="username" class="control-label"></label>
                    <input asp-for="username" class="form-control" />
                    <span asp-validation-for="username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="password" class="control-label"></label>
                    <input asp-for="password" class="form-control" />
                    <span asp-validation-for="password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="confirmPassword" class="control-label"></label>
                    <input asp-for="confirmPassword" class="form-control" />
                    <span asp-validation-for="confirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save changes" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
