 @model cloudscribe.Pagination.Models.PagedResult<BidR.Models.Database.Auction>

@using Microsoft.AspNetCore.Identity;
@inject UserManager<User> userManager;

@using BidR.Models.Database;

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

@{
    String[] stateText = {"DRAFT", "READY", "BID", "SOLD", "EXPIRED", "DELETED"};
    int[] pageSizes = {4, 12, 20, 24, 32};
}
<div class="row">
    @foreach (BidR.Models.Database.Auction auction in Model.Data)
    {
        User loggedUser = this.userManager.GetUserAsync(base.User).Result;
        string enable = "";
        if ( auction.state != AuctionState.OPEN || ( loggedUser != null && auction.User.Id == loggedUser.Id)) 
            enable = "disabled";
        var winner = auction.Winner != null ? auction.Winner.UserName : "-";
        DateTime localDate = DateTime.Now;
        TimeSpan timeSpan = auction.closedTimestamp.Subtract(localDate);
        string buttonText = stateText[(int)auction.state];
        if (auction.state != AuctionState.OPEN)
            timeSpan = localDate.Subtract(localDate);
        else
            timeSpan = auction.closedTimestamp.Subtract(localDate);

        <div class="col-3 auctionItems">
            <div class="auctionBox">
                <input type="hidden" class="auctionId" value="@auction.Id">
                <div  class="mb-3">
                    <a asp-controller="Auction" asp-action="AuctionDetails" asp-route-Id="@auction.Id">
                        <center><h3 class="auctionTitle">@auction.name</h3></center>
                    </a>
                </div>
                <div class = "auction-frame mb-2">
                    <img class="auction-picture" src="data:image/jpg;base64, @Convert.ToBase64String(auction.image)" />
                </div>
                <center><h2 class="auctionTime">@timeSpan.Days:@timeSpan.Hours:@timeSpan.Minutes:@timeSpan.Seconds</h2></center>
                <center><h3 class="auctionBidPrice green">@String.Format("{0:0.00}", auction.bidPrice)$</h3></center>
                <center><h3 id="price_@auction.Id" class="auctionCurrPrice">Price: @String.Format("{0:0.00}", auction.newPrice)$</h3></center>
                <center><h6 id="bidder_@auction.Id" class="auctionBidder">@winner</h6></center>
                <center><button id="button @auction.Id" class="btn btn-primary percent60 bidButton" @enable>@buttonText</button></center>
            </div>
        </div>
    }
</div>
<div class="row">
    <div class="col-6">
        Auctions per page:
        <select name="auctionsPerPage" id="auctionsPerPage">
            @foreach (int pSize in pageSizes)
            {
                if (pSize == Model.PageSize)
                {
                    <option value="@pSize" selected>@pSize</option>
                }
                else
                {
                    <option value="@pSize">@pSize</option>   
                }
            }
        </select>
    </div>
    <div class="col-6 d-flex justify-content-end">
        <partial name="_PaginationPartial", view-data="@ViewData" model="@Model" />
    </div>
</div>

@{await Html.RenderPartialAsync("SignalRScriptsPartial");}
<script src="~/js/pagination.js"></script>
<script src="~/js/bid.js"></script>


