<script type="text/javascript">
        
        function PagerRequestSuccess(data) {
            //console.log("This is the OnSuccessCallback: " + data);
            console.log("This is the OnSuccessCallback");
        }
        function PagerRequestFailure(request, error) {
            console.log("This is the OnFailure Callback:" + error);
        }
        
</script>

<cs-pager
    cs-paging-pagenumber="@(int)Model.PageNumber"
    cs-paging-totalitems="@(int)Model.TotalItems"
    cs-paging-pagesize="@Model.PageSize"
    cs-ajax-target="#auctions"
    cs-ajax-success="PagerRequestSuccess"
    cs-ajax-failure="PagerRequestFailure"
    cs-pagenumber-param="pageNumber"
    asp-controller="@ViewData["Controller"]"
    asp-action="@ViewData["Action"]"
    cs-pager-li-current-class="page-item active"
    cs-pager-li-other-class="page-item"
    cs-pager-li-non-active-class="page-item disabled"
    cs-pager-link-current-class="page-link"
    cs-pager-link-other-class="page-link"
></cs-pager>