<div class="container-fluid">
    <div class="row mb-4 d-flex justify-content-center">
        <div class="col-6 d-flex justify-content-center">
            <b>Search</b>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-6 d-flex justify-content-center">
            Name
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col mt-2 mb-3 d-flex justify-content-center">
            <input type="text" id="auctionTitle" />
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-6 d-flex justify-content-center">
            Price
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-5 d-flex justify-content-center">
            Low:
        </div>
        <div class="col-5 d-flex justify-content-center" >
            High:
        </div>
    </div>
    <div class="row">
        <div class="col-6 mt-2 mb-3 pr-1">
            <input type="number" id="auctionPriceLow" />
        </div>
        <div class="col-6 mt-2 mb-3 pl-1">
            <input type="number" id="auctionPriceHigh" />
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-6 d-flex justify-content-center">
            Status
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-6 mt-2 mb-3 d-flex justify-content-center">
            <select name="status" id="auctionStatus">
            </select>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-6 mt-2 mb-3 d-flex justify-content-center">
            <button id="searchButton" type="button" class="btn btn-success">SEARCH</button>
        </div>
    </div>
</div>