@using Microsoft.AspNetCore.Identity;
@using BidR.Models.Database;
@using System.Security.Claims;

@inject SignInManager<User> signInManager;
@inject UserManager<User> userManager;
@inject BidRContext context;

<ul class="navbar-nav flex-grow-1">
    @if (signInManager.IsSignedIn( User ))
    {
        User loggedUsers = await this.userManager.GetUserAsync(base.User);
        IdentityUserRole<String> roleId = context.UserRoles.Where(role => role.UserId == loggedUsers.Id).FirstOrDefault();
        IdentityRole roleName = context.Roles.Where(role => role.Id == roleId.RoleId).FirstOrDefault();

        if (roleName.Name == "User")
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Auction" asp-action="MyAuctions">My auctions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Auction" asp-action="AuctionsWon">Auctions won</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Auction" asp-action="AddAuction">Add auction</a>
            </li>
        }
        else 
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Auctions">Auctions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Users">Users</a>
            </li>
        }
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Auction" asp-action="Index">Auctions</a>
        </li>
    }
</ul>