@using Microsoft.AspNetCore.Identity;
@using BidR.Models.Database;
@using System.Security.Claims;

@inject SignInManager<User> signInManager;
@inject UserManager<User> UserManager;
@inject BidRContext context;

@{
    User user = await UserManager.GetUserAsync(User);
    IdentityUserRole<String> roleId = null;
    IdentityRole roleName = null;
    if (user != null)
    {
        roleId = context.UserRoles.Where(role => role.UserId == user.Id).FirstOrDefault();
        roleName = context.Roles.Where(role => role.Id == roleId.RoleId).FirstOrDefault();
    }

    string fullName = user != null ? user.firstName + " " + user.lastName : "";
    /*foreach( Claim claim in User.Claims)
    {
        if(claim.Type.Equals ("fullName"))
        {
            fullName = claim.Value;
            break;
        }
    }*/
}

<ul class="navbar-nav">
    @if (signInManager.IsSignedIn( User ))
    {
        <input id="userName" type="hidden" value="@user.UserName" />
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="User" asp-action="Settings">Welcome, @fullName</a>
        </li> 
        @if(roleName != null && roleName.Name == "User")
        {
            <li class="nav-item"> 
                <a class="nav-link text-dark" asp-controller="Token" asp-action="Index"> <span id="availableTokens">@user.tokens</span> <img class="tokenPng pd-2" src="~/assets/Token.png" alt=""></a>
            </li>
        }
        <li class="nav-item">
            <form class="form-inline" asp-controller="User" asp-action="LogOut">
                <input type="submit" class="nav-link btn btn-link text-info" value="Log out" />
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="User" asp-action="LogIn">Log in</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="User" asp-action="Register">Register</a>
        </li>
    }
</ul>