@model BidR.Models.Database.Package

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

@{
    String[] args = {"../../assets/silver.jpeg", "../../assets/gold.jpeg","../../assets/platinum.jpeg"};
}

<h4>Package - @Model.name</h4>
<hr />

<div class="row">
    <div class="offset-2 col-4 d-flex align-items-center">
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.name)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.name)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.tokens)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.tokens)
                <img class="tokenPng pd-2" src="~/assets/Token.png" alt="">
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.price)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.price)$
            </dd>
        </dl>
    </div>
    <div class="offset-1 col-4">
        <img src="@args[@Model.Id - 1]" class="mb-2 packagePic" alt="">
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://www.paypal.com/sdk/js?client-id=AfKuiJrqUgqFk8VDeCyPvDUsTNAFN0SGJd27LLR6htlQ7V8j8HfduYnb0LYMbt6peuIoQ_gBHsXQvSAF"></script>

<div class="row mt-3">
    <div class="offset-2 col-8">
        <input type="hidden" id="price" value="@Model.price">
        <input type="hidden" id="packageId" value="@Model.Id">
        <div id="paypal"></div>
    </div>
</div>

<script src="~/js/payPal.js"></script>