@model System.Collections.Generic.List<BidR.Models.Database.Package>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

@{
    String[] args = {"../../assets/silver.jpeg", "../../assets/gold.jpeg","../../assets/platinum.jpeg"};
    int curr = 0;
}

<h1>Packages:</h1>
<br/>

<div class="container">
    <div class="row mt-4">
        @foreach (BidR.Models.Database.Package package in Model)
        {
            <div class="col-4">
                <a asp-controller="Token" asp-action="BuyPackage" asp-route-Id="@package.Id">
                    <div class="d-flex align-items-center packageBox">
                        <h1 class="mt-3">@package.name</h1>
                        <img src="@args[curr++]" alt="">
                        <h2 class="packageTokens d-flex justify-content-center">@package.tokens 
                        <img class="tokenPng pd-2" src="~/assets/Token.png" alt="">
                        </h2>
                        <h3 class="packagePrice">Price: @package.price$</h3>
                    </div>
                </a>
            </div>
        }
    </div>
</div>

<div class="row mt-5">
    <div class="col">
        <table id="myTable" class="table table-striped table-bordered mt-2" cellspacing="0" width="100%">
            <caption>List of orders</caption>
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">OrderId</th>
                <th scope="col">Date</th>
                <th scope="col">Tokens</th>
                <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody id="tableBody">
            </tbody>
        </table>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
<script src="~/js/payments.js"></script>