@model AuctionSite.Models.Database.Auction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Auction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.startingPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.startingPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.createdTimestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.createdTimestamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.openedTimestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.openedTimestamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.closedTimestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.closedTimestamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.state)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.state)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bidPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bidPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.newPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.newPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idOwner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idOwner)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
