@model AuctionSite.Models.Database.Auction

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Auction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="image" class="control-label"></label>
                <input asp-for="image" class="form-control" />
                <span asp-validation-for="image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="startingPrice" class="control-label"></label>
                <input asp-for="startingPrice" class="form-control" />
                <span asp-validation-for="startingPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="createdTimestamp" class="control-label"></label>
                <input asp-for="createdTimestamp" class="form-control" />
                <span asp-validation-for="createdTimestamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="openedTimestamp" class="control-label"></label>
                <input asp-for="openedTimestamp" class="form-control" />
                <span asp-validation-for="openedTimestamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="closedTimestamp" class="control-label"></label>
                <input asp-for="closedTimestamp" class="form-control" />
                <span asp-validation-for="closedTimestamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="state" class="control-label"></label>
                <select asp-for="state" class="form-control"></select>
                <span asp-validation-for="state" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bidPrice" class="control-label"></label>
                <input asp-for="bidPrice" class="form-control" />
                <span asp-validation-for="bidPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="newPrice" class="control-label"></label>
                <input asp-for="newPrice" class="form-control" />
                <span asp-validation-for="newPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idOwner" class="control-label"></label>
                <input asp-for="idOwner" class="form-control" />
                <span asp-validation-for="idOwner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

