@model IEnumerable<AuctionSite.Models.Database.Auction>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.startingPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createdTimestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.openedTimestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.closedTimestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.state)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bidPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.newPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idOwner)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.startingPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createdTimestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.openedTimestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.closedTimestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bidPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.newPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idOwner)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
