﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap");
:root {
	--deepPurple: #2d2032;
	--orange: #e27b2e;
	--red: #cd3e30;
	--lightGray: #9b97b6;
	--registerButton: #7a6682;
	--formInput: #5b4962;
	--lightPurple: #342739;
	--imgOutline: #2b1e30;
	--stepCircle: #3d2b44;
	--movieDate: #43324a;
}

a.navbar-brand {
	white-space: normal;
	text-align: center;
	word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
	color: #0366d6;
}

.btn-primary {
	color: #fff;
	background-color: #1b6ec2;
	border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
	color: #fff;
	background-color: #1b6ec2;
	border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
	font-size: 14px;
}
@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

.border-top {
	border-top: 1px solid #e5e5e5;
}
.border-bottom {
	border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
	box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
	font-size: 1rem;
	line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	white-space: nowrap;
	line-height: 60px; /* Vertically center the text there */
}

.borderless {
	border: none;
}

#auctionPicture {
	max-width: 600px;
	max-height: 400px;
}

.auction-frame {
	width: 100%;
	height: 190px !important;
}

.auction-picture {
	width: 100%;
	height: 190px !important;
	object-fit: cover;
}

.auctionItems {
	padding-bottom: 2em;
}

.auctionBox {
	height: auto;
	width: 100%;
	max-width: 300px;
	min-height: 450px;
	background: white;
	border-radius: 25px;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.6);
	margin: 0 auto;
	padding-top: 20px;
}

.auctionBox:last-child {
	padding-bottom: 20px;
}

.auctionTitle {
	color: var(--orange);
	font-weight: 700;
	font-size: 18px;
}

.auctionTime {
	font-weight: 600;
}

.auctionBidPrice {
	font-weight: 600;
	font-size: large;
}

.auctionCurrPrice {
	font-weight: 500;
	font-size: x-large;
}

.auctionBidder {
	font-weight: 400;
	font-size: medium;
}

#greyBackground {
	background-color: gray;
}

.percent60 {
	width: 60%;
}

.transparentBg {
	background-color: transparent !important;
}

.rowWrapper {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: row;
	align-items: center;
	background-color: var(--lightGray);
	border-radius: 20px 20px 20px 20px;
	margin-bottom: 1em;
}

.description {
	display: flex !important;
	flex-direction: column !important;
	justify-content: center !important;
	height: 100% !important;
	width: 50% !important;
	color: white;
	margin: 0 auto 0 0 !important;
}

.binWrapper {
	display: flex !important;
	height: 120px !important;
	width: 15% !important;
	justify-content: center !important;
	align-items: center !important;
	background-color: var(--lightGray);
	border-radius: 0px 20px 20px 0px !important;
}

.binWrapper > button,
.checkWrapper > button {
	border: 0;
	max-width: 80px !important;
	width: 60%;
	cursor: pointer;
	background-color: transparent;
}

.highlightSvgOnHover {
	outline: none;
}

.highlightSvgOnHover svg path {
	fill: white;
}

.highlightSvgOnHover svg:hover path {
	fill: var(--orange) !important;
	transition: color 0.2s ease-in-out;
}

.list {
	display: flex !important;
	width: 100% !important;
	height: 100% !important;
	flex-direction: column !important;
}

.list:last-child {
	margin-bottom: 0 !important;
}

.userTitle {
	display: flex;
	width: 380px;
	justify-content: center;
	align-items: center;
	padding: 0.5em 1em;
}

.userPicture {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	padding: 0.5em 1em;
}

.userPicture > img {
	height: 120px;
	width: 120px;
	border: 4px solid var(--imgOutline);
	border-radius: 50%;
	object-fit: cover;
}

.editImage img {
	max-width: 450px;
}

.packageBox {
	height: 380px;
	width: 300px;
	background: white;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.6);
	border-radius: 25px;
	display: flex;
	flex-direction: column;
}

.packageBox:hover {
	border: 2px solid orange;
}

.tokenPng {
	width: 22px;
	height: 22px;
}

a {
	color: inherit; /* blue colors for links too */
	text-decoration: inherit; /* no underline */
}

a:hover {
	color: inherit; /* blue colors for links too */
	text-decoration: inherit; /* no underline */
}

.packagePic {
	border-radius: 50%;
}

#paypal {
	max-width: 685px;
}

.green {
	color: green;
}

.red {
	color: red;
}

.sidenav {
	width: 100%;
	position: fixed;
	z-index: 1;
	background: #ffae42;
	border-radius: 0px 25px 25px 0px;
	overflow-x: hidden;
	padding: 8px 0;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
}

input {
	max-width: 100%;
}

.width90 {
	width: 98%;
}

#myTable_wrapper {
	min-width: 450px;
}
