@model System.Collections.Generic.IList<AuctionSite.Models.Database.User>;

@{
    ViewData["Title"] = "Users";
}

@foreach (AuctionSite.Models.Database.User item in @Model)
{
    <p>@item.id @item.firstName @item.lastName</p>
}