@model System.Collections.Generic.List<BidR.Models.Database.Auction>

@{
    ViewData["Title"] = "New auctions";
}

<h1>New auctions</h1>

<hr />

<div class="list" id="list">
@foreach (BidR.Models.Database.Auction auction in Model)
{	
    <div class="rowWrapper">		
        <div class="userPicture">
            <img src="data:image/jpg;base64, @Convert.ToBase64String(auction.image)" />
        </div>	
        <div class="userTitle">
            <div><h1> @auction.name </h1></div> 
        </div>
        <div class="description pl-5">    
            <div><span> Created: @auction.createdTimestamp </span></div>
            <div><span> To be open: @auction.openedTimestamp </span></div>
            <div><span> To be closed: @auction.closedTimestamp </span></div>
            <div><span> Starting price: @auction.startingPrice$ • Bid increase: @auction.bidPrice$ </span></div>
            <div><span> Owner: @auction.User.UserName </span></div>
        </div>	
        <a class="binWrapper" asp-action="AuctionPreview" asp-route-Id="@auction.Id">
            <button class="highlightSvgOnHover">
                <svg viewBox="-264 116.7 469.3 469.3">
				    <path class="st0" d="M192.8,192.8l-64-64.1c-16.1-16.1-44.2-16.2-60.4,0l-286.7,289.5c-1.3,1.3-2.2,2.9-2.7,4.6l-42.7,149.5c-1.1,3.7,0,7.7,2.7,10.5c2,2,4.8,3.1,7.5,3.1c1,0,2-0.1,2.9-0.4l149.3-42.7c1.7-0.5,3.3-1.4,4.6-2.7l289.3-287c8.1-8.1,12.5-18.8,12.5-30.2S200.9,200.9,192.8,192.8zM22,206.4l39.3,39.3l-205,205l-14.7-29.4c-1.8-3.6-5.5-5.9-9.5-5.9h-17.1L22,206.4zM-237.8,559.8l13.9-48.6l34.7,34.7L-237.8,559.8zM-114.7,524.6l-51,14.6l-51.5-51.5l14.6-51h28l18.4,36.8c1,2.1,2.7,3.7,4.8,4.8l36.8,18.4L-114.7,524.6L-114.7,524.6zM-93.3,507.1V490c0-4-2.3-7.7-5.9-9.5l-29.4-14.7l205-205l39.3,39.3L-93.3,507.1zM177.8,238.4l-47,46.6L37,191.3l46.6-47c8.1-8.1,22.1-8.1,30.2,0l64,64c4,4,6.3,9.4,6.3,15.1S181.8,234.4,177.8,238.4z"/>
				</svg>
            </button>	
        </a>              
    </div>
}
</div>

