@model BidR.Models.Database.Auction

@{
    ViewData["Title"] = "Auction details";
}

<h1>Auction details</h1>

<h3>What to do with this auction?</h3>
<div>
    <h4>Auction</h4>
    <hr />
    <div class="row">
        <dl class="col-6">
            <div class="row-flex">
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.name)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.name)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.description)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.description)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.startingPrice)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.startingPrice)$
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.bidPrice)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.bidPrice)$
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.createdTimestamp)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.createdTimestamp)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.openedTimestamp)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.openedTimestamp)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.closedTimestamp)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.closedTimestamp)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.User.UserName)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.User.UserName)
                </dd>
            </div>
        </dl>
        <div class="col-6 editImage">
            <img  src="data:image/jpg;base64, @Convert.ToBase64String(@Model.image)" />
        </div>
    </div>
    
    <div class="row">
        <div class="col-1">
            <form asp-action="AuctionConfirmed">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Confirm" class="btn btn-success" /> 
            </form>
        </div>
        <div class="col-3">
            <form asp-action="AuctionDeleted">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" /> 
                <a asp-action="Auctions"> &nbsp; Back to List</a>
            </form>
        </div>
    </div>
</div>