@model BidR.Models.View.AuctionModel

@{
    ViewData["Title"] = "Add auction";
}

@section Scripts {
    @{ await Html.RenderPartialAsync ( "_ValidationScriptsPartial" ); }
}

<h1>Add auction</h1>

<hr />
<form asp-controller="Auction" asp-action="AddAuction" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-4">
                <input asp-for="createdTimestamp" class="form-control" />
                <input asp-for="state" class="form-control" />
                <input asp-for="UserId" class="form-control" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="name" class="control-label"></label>
                    <input asp-for="name" class="form-control" />
                    <span asp-validation-for="name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="description" class="control-label"></label>
                    <input asp-for="description" class="form-control" />
                    <span asp-validation-for="description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="startingPrice" class="control-label"></label>
                    <input asp-for="startingPrice" class="form-control" />
                    <span asp-validation-for="startingPrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="bidPrice" class="control-label"></label>
                    <input asp-for="bidPrice" class="form-control" />
                    <span asp-validation-for="bidPrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="openedTimestamp" class="control-label"></label>
                    <input asp-for="openedTimestamp" class="form-control" />
                    <span asp-validation-for="openedTimestamp" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="closedTimestamp" class="control-label"></label>
                    <input asp-for="closedTimestamp" class="form-control" />
                    <span asp-validation-for="closedTimestamp" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add auction" class="btn btn-primary" />
                </div>
        </div>
        <div class="offset-md-1 col-md-6 justify-content-center align-items-center">
            <div class="row">
                <div class="offset-md-3 col">
                    <div class="form-group">
                            <label asp-for="photo" class="control-label"></label>
                            <input id="imageInput" onchange="showPicture()" asp-for="photo" class="form-control borderless" />
                            <span asp-validation-for="photo" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <img id="auctionPicture" src="" alt="" />
                </div>
            </div>
        </div>
    </div>
</form>
