@model BidR.Models.Database.Auction

@using BidR.Models.Database;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<User> userManager;

@{
    ViewData["Title"] = "Auction details";
    User loggedUser = this.userManager.GetUserAsync(base.User).Result;
    var winner = Model.Winner != null ? Model.Winner.UserName : "-";
    String[] stateText = {"DRAFT", "READY", "BID", "SOLD", "EXPIRED", "DELETED"};
    DateTime localDate = DateTime.Now;
    TimeSpan timeSpan;
    if (@Model.state != AuctionState.OPEN)
        timeSpan = localDate.Subtract(localDate);
    else
        timeSpan = Model.closedTimestamp.Subtract(localDate);
    string buttonText = stateText[(int)@Model.state];
    string enable = "";
    if ( Model.state != AuctionState.OPEN || ( loggedUser != null && Model.User.Id == loggedUser.Id )) 
        enable = "disabled";
    bool allowEdit = Model.state == AuctionState.DRAFT ? true : false;
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

<h1>Auction - @Model.Id</h1>

<hr />

<input type="hidden" id="status" value="@Model.state" />
<input type="hidden" id="auctionId" value="@Model.Id" />
<div class="row">
    <div class="offset-2 col-3 auctionItems">
        <div class="auctionBox">
             <input type="hidden" class="auctionId" value="@Model.Id">
            <div  class="mb-3">
                <center><h3 class="auctionTitle">@Model.name</h3></center>
            </div>
            <div class = "auction-frame mb-2">
                <img class="auction-picture" src="data:image/jpg;base64, @Convert.ToBase64String(Model.image)" />
            </div>
            <center><h2 class="auctionTime">@timeSpan.Days:@timeSpan.Hours:@timeSpan.Minutes:@timeSpan.Seconds</h2></center>
            <center><h3 class="auctionBidPrice green">@String.Format("{0:0.00}", Model.bidPrice)$</h3></center>
            <center><h3 id="price_@Model.Id" class="auctionCurrPrice">Price: @String.Format("{0:0.00}", Model.newPrice)$</h3></center>
            <center><h6 id="bidder_@Model.Id" class="auctionBidder">@winner</h6></center>
            <center><button id="button @Model.Id" class="btn btn-primary percent60 bidButton" @enable>@buttonText</button></center>
        </div>
        @if (allowEdit)
        {
            <center>
                <a asp-controller="Auction" asp-action="Edit" asp-route-Id="@Model.Id">
                    <button class="btn btn-warning mt-4">
                        Edit
                    </button>
                </a>
                <a asp-controller="Auction" asp-action="Delete" asp-route-Id="@Model.Id">
                    <button class="btn btn-danger mt-4 ml-3">
                        Delete
                    </button>
                </a>
            </center>
        }
    </div>
    <div class="offset-2 col-4">
        <table id="myTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <caption>List of bidders</caption>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Bidder</th>
                </tr>
            </thead>
            <tbody id="tableBody">
            </tbody>
        </table>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
<script src="~/js/bidder.js"></script>
<script src="~/js/timer.js"></script>
@{await Html.RenderPartialAsync("SignalRScriptsPartial");}
<script src="~/js/bid.js"></script>