@model cloudscribe.Pagination.Models.PagedResult<BidR.Models.Database.Auction>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/jquery.unobtrusive-ajax.js"></script>

@{
    ViewData["Title"] = "Auctions won";
}

<h1>Auctions won</h1>

<hr />

<div class="row ml-0 mr-0">
    <div class="col-2 sidenav">
       <partial name="_SearchBarPartial" /> 
    </div>
    <div class="offset-2 col-10">
        <div id="auctions">
            <partial name="_AuctionGrid", view-data="@ViewData" model="@Model" /> 
        </div>
    </div>
</div>
