@model BidR.Models.View.EditAuctionModel

@{
    ViewData["Title"] = "Delete auction";
}

<h1>Delete auction</h1>

<h3>Are you sure you want to delete this auction?</h3>
<div>
    <hr />
    <div class="row">
        <div class="col-6">
            <dl>
                <div class="row">
                    <dt class = "col-sm-6">
                        @Html.DisplayNameFor(model => model.name)
                    </dt>
                    <dd class = "col-sm-6">
                        @Html.DisplayFor(model => model.name)
                    </dd>
                </div>
                <div class="row">
                    <dt class = "col-sm-6">
                        @Html.DisplayNameFor(model => model.description)
                    </dt>
                    <dd class = "col-sm-6">
                        @Html.DisplayFor(model => model.description)
                    </dd>
                </div>
                <div class="row">
                    <dt class = "col-sm-6">
                        @Html.DisplayNameFor(model => model.startingPrice)
                    </dt>
                    <dd class = "col-sm-6">
                        @Html.DisplayFor(model => model.startingPrice)$
                    </dd>
                </div>
                <div class="row">
                    <dt class = "col-sm-6">
                        @Html.DisplayNameFor(model => model.bidPrice)
                    </dt>
                    <dd class = "col-sm-6">
                        @Html.DisplayFor(model => model.bidPrice)$
                    </dd>
                </div>
                <div class="row">
                    <dt class = "col-sm-6">
                        @Html.DisplayNameFor(model => model.createdTimestamp)
                    </dt>
                    <dd class = "col-sm-6">
                        @Html.DisplayFor(model => model.createdTimestamp)
                    </dd>
                </div>
                <div class="row">
                    <dt class = "col-sm-6">
                        @Html.DisplayNameFor(model => model.openedTimestamp)
                    </dt>
                    <dd class = "col-sm-6">
                        @Html.DisplayFor(model => model.openedTimestamp)
                    </dd>
                </div>
                <div class="row">
                    <dt class = "col-sm-6">
                        @Html.DisplayNameFor(model => model.closedTimestamp)
                    </dt>
                    <dd class = "col-sm-6">
                        @Html.DisplayFor(model => model.closedTimestamp)
                    </dd>
                </div>
            </dl>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <img id="auctionPicture" src="data:image/jpg;base64, @Convert.ToBase64String(@Model.image)" alt="" />
                </div>
            </div>
        </div>
    </div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for-id="@Model.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="MyAuctions">Back to List</a>
    </form>
</div>