@model IEnumerable<AuctionSite.Models.Database.Licitation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idAuction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.timestamp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idAuction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.timestamp)
            </td>
        </tr>
}
    </tbody>
</table>
