@model AuctionSite.Models.Database.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idPackage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idPackage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.timestampCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.timestampCreated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
